.navbar {
    background-color: #2D918C;
    
}
.carousel-inner img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.container{
    color: white;

}
body{
    font-family: 'Chonburi', cursive !important;
}

